@font-face {
  font-family: "Neue Haas Grotesk Display XXThin";
  src: url("NeueHaasDisplay-XXThin.eot");
  src: url("NeueHaasDisplay-XXThin.eot?#iefix") format("embedded-opentype"),
    url("NeueHaasDisplay-XXThin.woff") format("woff"),
    url("NeueHaasDisplay-XXThin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
}
